<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813469750190-drcgjvqr664doobkt42t2g8418fnlsjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813469750190-drcgjvqr664doobkt42t2g8418fnlsjv</string>
	<key>API_KEY</key>
	<string>AIzaSyAUg0UadLDZwEUEdw4SeUcY9DVuxdVJLMM</string>
	<key>GCM_SENDER_ID</key>
	<string>813469750190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comsaad.FlashChatiOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-6a8bc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-6a8bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813469750190:ios:e67cc3b40085a0a2cbae3f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-6a8bc.firebaseio.com</string>
</dict>
</plist>